<!--HERO-->
<section class="l-homepage-hero shc-settings-hero">
  <div class="l-homepage-hero__container">
    <h2 class="l-homepage-hero__title">Welcome to Saagie Help Center </h2>
    <h3 class="l-homepage-hero__subtitle">How can we <strong>help you </strong> today?</h3>
    {{#if signed_in}}
    <div class="sui-h-mt-xl">
      <div class="sui-g-grid as--gutter-none@sm as--auto@sm as--between@sm as--stretch@sm as--middle@sm">
        <div class="sui-g-grid-item">
          <a href='/hc/requests/new'><span class="l-homepage-hero__links-icon"><i class="fas fa-plus"></i></span>Open a
            new ticket</a>
        </div>
        <div class="sui-g-grid-item ">
          <a href='/hc/requests'><span class="l-homepage-hero__links-icon"><i class="far fa-eye"></i></span>My tickets</a>
        </div>
        <div class="sui-g-grid-item">
          <a href='/hc/requests/organization'><span class="l-homepage-hero__links-icon"><i
                class="fas fa-list-ul"></i></span>My organization's tickets</a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</section>

<!--MENU TILES-->
<div class="l-homepage-tiles as--dark">
  <div class="wrapper">
    <section class="sui-g-grid as--stretch">
      <!--01-->
      <div class="sui-g-grid-item l-homepage-tiles__tile">
        <a class="l-homepage-tiles__tile-link" href="{{settings.link_01}}" class="blocks-item-link">
          <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-installation.png'}}" alt="Installation guide"
            width="70px" height="auto" />
          <h4 class="l-homepage-tiles__tile-title">Installation guide</h4>
          <p class="l-homepage-tiles__tile-description">
            Follow the installation guide as you install Saagie, either in production or test mode.</p>
        </a>
      </div>
      <!--02-->
      <div class="sui-g-grid-item l-homepage-tiles__tile">
        <a class="l-homepage-tiles__tile-link" href="{{settings.link_02}}" class="blocks-item-link">
          <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-SDK.png'}}" alt="Developer Documentation"
            width="70px" height="auto" />
          <h4 class="l-homepage-tiles__tile-title">Developer Documentation</h4>
          <p class="l-homepage-tiles__tile-description">
            Home to all developer documentation, including Operations, SDK, and Installation.</p>
        </a>
      </div>
      <!--03-->
      <div class="sui-g-grid-item l-homepage-tiles__tile">
        <a class="l-homepage-tiles__tile-link" href="{{settings.link_03}}" class="blocks-item-link">
          <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-documentation.png'}}" alt="User Documentation" width="70px"
            height="auto" />
          <h4 class="l-homepage-tiles__tile-title">User Documentation</h4>
          <p class="l-homepage-tiles__tile-description">
            Use this documentation to get the most out of the Saagie DataOps Orchestrator.</p>
        </a>
      </div>
      <!--04-->
      <div class="sui-g-grid-item l-homepage-tiles__tile">
        <a class="l-homepage-tiles__tile-link" href="{{settings.link_04}}">
          <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-DocV1.png'}}" alt="V1 Docs (Legacy)" width="34px"
            height="auto" />
          <h4 class="l-homepage-tiles__tile-title">V1 Docs (Legacy)</h4>
          <p class="l-homepage-tiles__tile-description">Wiki page dedicated to the very first version of the Saagie Data Fabric.</p>
        </a>
      </div>
      <!--05-->
      <div class="sui-g-grid-item  l-homepage-tiles__tile">
        <a class="l-homepage-tiles__tile-link" href="{{settings.link_05}}" class="blocks-item-link" target="_blank">
          <img src="{{asset 'icon-Troubleshooting.png'}}" alt="Saagie Support" class="l-homepage-tiles__tile-icon" width="34px"
            height="auto" />
          <h4 class="l-homepage-tiles__tile-title">Saagie Support</h4>
          <p class="l-homepage-tiles__tile-description">
            Our support team is here to help!</p>
        </a>
      </div>
    </section>
  </div>
</div>

<!--COMMUNITY-->
<!--<div class="section-wrapper">
    <div class="container">
      {{#if help_center.community_enabled}}
      <section class="section community">
        <h2>{{t 'community'}}</h2>
        {{#link 'community' class='community-link'}}
          {{t 'join_conversation'}}
        {{/link}}
        <div class="community-image"></div>
      </section>
    {{/if}}
  </div>
</div>-->

<!--RECENT ACTIVITIES-->
<!--<div class="l-homepage-recent-activity as--dark">
  <div class="wrapper">
    <section>
      {{recent_activity}}
    </section>
  </div>
</div>-->

<!--PROMOTED ARTICLES-->
<!--<div class="section-wrapper-light-color">
  <div class="container">
    <section class="section knowledge-base">
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  </div>
</div>
</div>-->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elem = document.querySelector('.recent-activity-header');
    var html = elem.innerHTML;
    elem.innerHTML = 'Latest Articles';
  });
</script>